.container .title {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
  }
  
  .title .query-text {
    color: #f7d354;
  }
  
  .movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .movies-container div {
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #282828;
    padding: 1rem;
  }
  
  .movies-container div img {
    max-width: 100%;
  }
  
  .movies-container div img,
  .movies-container div p {
    margin-bottom: 1rem;
  }
  
  .movies-container div h2 {
    margin-bottom: 1.5rem;
  }
  
  .movies-container div svg {
    color: #f7d354;
  }
  
  .movies-container div a {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding: 1rem 0.5rem;
    text-align: center;
    font-weight: bold;
  }
  
  .movies-container div a:hover {
    background-color: transparent;
    color: #f7d354;
  }

  .botaoExcluir {
    background-color: #ffcd38; 
    color: #000000;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .botaoExcluir:hover {
    background-color: transparent;
    color: #f7d354; 
  }

  .botaoEditar {
    background-color: #ffcd38; 
    color: #000000;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 20px;
  }
  
  .botaoEditar:hover {
    background-color: transparent;
    color: #f7d354; 
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(255, 193, 7, 0.8);
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ModalEdicao.css */

.modal-edicao {
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(255, 193, 7, 0.8);
}

.modal-content {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
